.l-wrapper {
  display: grid;
  grid-template-rows: 3rem auto 2rem;
  height: 100%;
  width: 100%;
  background: #e3e6ed url(/static/hero_large.d87356aa.jpg);
  background-size: 600px auto;
  background-repeat: no-repeat;
  background-position: center 95%;
}
